.post-item {
    margin: 50px;
    margin-left: 25px;
    padding: 1rem;
    /* width: calc(98% - 2rem); */
    width: 97%;
    min-width: 17.5rem;
    height: 10rem;
  }
  
  .post-item h1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #002d57;
  }
  
  .post-item a:hover,
  .post-item a:active {
    background: #4d4203;
  }
  
  .card.post-item__content {
    margin: 20px;
    padding: 1.5rem;
  }
  
  .post-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .post-item__info {
    background: #171625;
  }

  .post-item__info p {
    padding: 1rem;
    background: rgb(66, 170, 240);
  }

  
  .post-item__info h2 {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
  }
  
  .post-item:hover h2,
  .post-item:active h2,
  .post-item:hover h3,
  .post-item:active h3 {
    color: #af9e03;
  }
  
  .post-item__info h3 {
    margin: 0;
  }